<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>REST API</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container pt-3" id="app" v-cloak>
        <h1>REST API</h1>

        <form class="form-inline mb-3" @submit.prevent="createContact">
            <div class="form-group mr-5">
                <label for="name" class="mr-3">Имя</label>
                <input v-model="form.name" type="text" class="form-control" id="name">
            </div>
            <div class="form-group mr-5">
                <label for="value" class="mr-3">Значение</label>
                <input v-model="form.value" type="text" class="form-control" id="value">
            </div>
            <button class="btn btn-primary" type="submit" :disabled="!canCreate">Создать</button>
        </form>

        <div v-if="loading">
            <loader />
        </div>


        <div v-else-if="contacts.length">
            <div class="card mb-3" v-for="contact in contacts">
                <div class="card-body">
                    <h5 class="card-title" :style="{color: contact.marked ? 'red' : 'black'}">{{contact.name}}</h5>
                    <p class="card-text">{{contact.value}}</p>
                    <button class="btn btn-primary" @click="markContact(contact.id)" :disabled="contact.marked">Отметить</button>
                    <button class="btn btn-danger" @click="removeContact(contact.id)">Удалить</button>
                </div>
            </div>
        </div>

        <p v-else>Contacts not found</p>

    </div>


<script type="module" src="./frontend.js"></script>
</body>
</html>